<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock title %}
        </title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
    </header>
    
    
    {% block content %}
    
    {% endblock content %}
</body>
</html>